@media(max-width:2400px){



body{
    margin: 0;
    
}

nav{
    background-color: rgb(60, 216, 169);
    color: white;
    width: 100%;
    height: 3em;
    opacity: 0.87;
    position: fixed;
    z-index: 99;
}

nav a{
    text-decoration: none;
    color: white;
    float: right;
    line-height: 3em;
    padding-right:1em; 
    opacity: 1;
}
nav .h1{
    margin: 0;
    float: left;
    line-height: 2em;
    opacity: 1;
    font-size: 1.5em;
    font-weight: bold;
    padding-left:0.5em 
}

header{
    background-image: url(TEST/seiten.jpg);
    width: 100%;
    height: 24em;
    background-size: cover;
}
.header-title{
    margin: 0;
    color: #97f7cf;
    padding-top: 9em;
    float: right;
    font-size: 1.2em;
    opacity: 0.8;
}
section h2::first-letter{
    color: hsl(54, 31%, 50%);
}
h2{
    font-size: 2.1em;
    border-bottom: 1px solid rgb(189, 187, 187);
    text-align: center;
}

.profile{
    width: 100%;
    height: 35em;
    padding-top: 4em; 
}

.ul-wrapper{
    width: 50%;
    height:27em;
    text-align: center;
    margin:0;
    float: left;
}

ul{
    display: flex;
    flex-direction: column;
  
    font-size: 1.1em;
    
    box-sizing: border-box;
}

ul li{
   list-style: none;
   margin: 2em;
   flex-direction: column;


}

.img-wrapper{
    float: right;
    width:50%;
    height: 30em;
    text-align: center;
    box-sizing: border-box;
    position: relative;

}
img{
    width: 21em;
    padding-top: 4em; 
}


.flex-item{
    width: 27%;
    height: 100%;
    opacity: 0.7;
    background-color: white;
    text-align: center;
    padding: 5px;

}
.flex-items{
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}
.career{
    padding-bottom: 4em;
 
}


i{
    opacity: 0.5;
}

.hobby-title{
font-size: 2em;
}

.hobby-item{
    width: 27%;
    height: 100%;
    text-align: center;
    opacity: 0.8;

}

.hobbies{
    display: flex;
    justify-content: space-around;
    padding-top:2em; 
}

.con-form{
    text-align: center;
    margin: 2em;
}
.name{
margin: 2em;
}

input{
 padding: 0 9%;
}
.mail{
    margin: 2em;
}
textarea{
    padding: 10%;
}
.msg{
margin-bottom: 2em;

}

footer{
    width: 100%;
    height: 10em;
    background-color: rgb(60, 216, 169);
    opacity: 0.7;
    color: white;
    text-align: center;
    padding: 2em;
    box-sizing: border-box;
}

footer a{
    text-decoration: none;
    color: white;

}
.top{
    font-size: 1.1em;
    border: 1px solid white;
    padding:  6px 12px;
}

address{
margin: 1em;
}



}
